*{
	margin:0;
	padding:0;
}

body {
	background: skyblue/*rgb(117, 154, 255)*/;
	}

.main-wrapper {
	width:1000px;
	height: auto;
	margin:auto;
}

#header {
	width:1000px;
	height:120px;
	background-image:url(../images/bg-header.jpg);
	border-bottom: 5px groove orange;
}

#left {
	width:795px;
	min-height:799px;
	background-image:url(../images/bg-body.gif);
	float:right;
}

#right{
	width:200px;
	min-height:799px;
	float:left;
	border-left:5px groove orange;
	
	
}

#right a{
	text-decoration:none;
	color:black;
	text-align:left;
	font-family:Palatino;
	font-size:18px;
	display:block;
	padding:6px;
	margin:6px;
}

#right a:hover{
	text-decoration:underline;
	font-weight:bolder;
	color:orange;
}
/*#footer {
  position: fixed;
  left:0;
  bottom:0;
  width: 100%;
  height:auto;
  background-color:#656d78;
  color: white;
  padding-right:20px;
  padding-bottom:15px;
  text-align: center;
}*/